<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link href="../static/css/calculator.css" rel="stylesheet" />
    <link href="../static/css/index.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../static/js/calculator.js"></script>

</head>
<body>
    {% block header %}  
        <header class="">
                <!-- Botao "View history" -->
            <button class="history-button">
                <a href="/logout">Logout!</a>
            </button>
        
            <!-- Botao "View history" -->
            <button class="history-button">
                <a href="/history">View history!</a>
            </button>

        </header>
    {% endblock header %}

    {% block content %}

    {% endblock %}
</body>
</html>