 <!DOCTYPE html>
 <html lang="en">

 <head>
     <meta charset="UTF-8" />
     <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <link href="../static/css/calculator.css" rel="stylesheet" />
     <link rel="shortcut icon" href="#">
     <title>Calculator</title>
 </head>

 <body>
     <!-- Botao "View history" -->
     <button class="history-button">
         <a href="/history">View history!</a>
     </button>
     <!-- Calculadora  -->
     <form name="calculator" method="POST" class="calculator" target="hiddenFrame">
         <!-- Adicionei o min="0" p/ que não seja possível adicionar numeros negativos -->
         <input name="input" type="text" class="input" required />
         <section class="calculator-buttons">
             <button name="clear" class="calc-button is-clear" type="button">
                 C
             </button>
             <button name="operation" type="button" class="calc-button"> / </button>
             <button name="digit" class="calc-button" type="button">7</button>
             <button name="digit" class="calc-button" type="button">8</button>
             <button name="digit" class="calc-button" type="button">9</button>
             <button name="operation" type="button" class="calc-button"> x </button>
             <button name="digit" class="calc-button" type="button">4</button>
             <button name="digit" class="calc-button" type="button">5</button>
             <button name="digit" class="calc-button" type="button">6</button>
             <button name="operation" type="button" class="calc-button"> - </button>
             <button name="digit" class="calc-button" type="button">1</button>
             <button name="digit" class="calc-button" type="button">2</button>
             <button name="digit" class="calc-button" type="button">3</button>
             <button name="operation" id="digit" type="button" class="calc-button"> + </button>
             <button name="digit" class="calc-button is-zero">0</button>
             <button name="calculate" type="submit" formaction="/calculate" class="calc-button is-equals">
                 =
             </button>
         </section>
     </form>
 </body>

 </html>