<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="../static/css/history.css"/>

    <title>Histórico</title>
</head>

<body>
        
    <button class="history-button"><a href="/calculator">Voltar para Calculadora</a></button>
    
    <div class="history-card">
        <lu class="history-list">
            {% for history in history_list %}
                <li class="history-list__message" >{{ history }}</li>
            {% endfor %}
        </lu>

    </div>

</body> 

</html>