{% extends "prelogin-layout.html" %}

{% block title %} Entrar {% endblock title %}

{% block content %}
    <form method="POST" action="" class="card" >
        <div>
            {{ form.username(class='card__input', placeholder='Nome de usuário', autofocus=true) }}
            <lu>
                {% for error in form.username.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </lu>
        </div>

        <div>
            {{form.password(class='card__input', placeholder='Insira sua senha')}}
            <lu>
                {% for error in form.password.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </lu>
            
        </div>
        <div>
            <input type="submit" value="Entrar" id="submit">
        </div>
        <div>
            <a href="/register"> Crie uma conta! </a>
        </div>

        {{ form.csrf_token }}
    </form>
{% endblock %}


<!-- <!DOCTYPE html>
<html lang="en">

    <head>
        <title>Login</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="../static/css/index.css" rel="stylesheet" />

    </head>

    <body class="login-container">
        <form method="POST" action="/calculator" class="login-card" >
            <label class="login-card__label">Username</label>
            <input class="login-card__input" required type="text" name="username" />
            <label class="login-card__label">Password</label>
            <input class="login-card__input" required type="password" name="password" />
            <button type="submit">Login</button>
            <button><a href="/register">Registrar-se</a></button>
        </form>
    </body>

</html> -->