{% extends "prelogin-layout.html" %}

{% block title %} Registrar-se {% endblock title %}




{% block content %}


    <form method="POST" action="{{ url_for('register') }}" class="card" >
        {% block header %}
        <h2 class="card__title">
            Registre-se
        </h2>
        {% endblock %}
    

        <div>
            {{ form.username(class='card__input', placeholder='Nome de usuário', autofocus=true) }}
            <lu>
                {% for error in form.username.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </lu>
        </div>

        <div>
            {{form.password(class='card__input', placeholder='Insira sua senha')}}
            <lu>
                {% for error in form.password.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </lu>
            
        </div>
        <div>
            {{form.confirm_password(class='card__input', placeholder='Insira sua senha novamente')}}

            <lu>
                {% for error in form.confirm_password.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </lu>
        </div>
        <div>
            <input type="submit" value="Criar conta" id="submit">
        </div>   
        <div>
            <a href="/" class="card__back-button">Voltar</a>
        </div>

        {{ form.csrf_token }}
    </form>
{% endblock %}